<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="">

        <title>Signup For New Account</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body class="text-center">
        <form class="form-signin registerAccount">
            <img class="logo_container" src="/img/logo.png" alt="" width="72">
            <div class="alert alert-danger alert_msg_container" role="alert" style="display: none;"><strong>Error!</strong></div>
            <h1 class="h3 mb-3 font-weight-normal">Create new account</h1>
            <label for="firstName" class="sr-only">First Name</label>
            <input type="text" id="firstName" class="form-control" placeholder="First Name" required autofocus>
            <label for="lastName" class="sr-only">Last Name</label>
            <input type="text" id="lastName" class="form-control" placeholder="Last Name" required>
            <label for="email" class="sr-only">Email Address</label>
            <input type="email" id="email" class="form-control" placeholder="Email Address" required>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            <div class="alert">
                Already have an account?<br>
                <a href="/login">Login Now</a>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>